       
  
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
	.login-form {
		width: 340px;
        margin: 70px 550px;
    	
	}
    .login-form form {
    	margin-bottom: 15px;
        background: rgb(240, 237, 237);
        padding: 45px;
        border-radius: 15px;
        border:  6px solid black;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    
    .bg{
        background-size: cover ;
    }

</style>
</head>
<body style="background-image:url(assets/img1.jpg);" class="bg">
    <% if flash[:notice] %>
    <div class="text-center">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <strong><%=flash[:notice] %></strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
    <% end %>
    <div class="login-form">
        <%= form_with url: sessions_path do |f| %>
            <h2 class="text-center mb-4"><i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i></h2>   
            <div class="form-group">
                <%= f.text_field :email,placeholder:"Email",class:"form-control" %>
            </div>
            <div class="form-group">
                <%= f.password_field :password,placeholder:"Password",class:"form-control"  %>
            </div>
            <div class="form-group">
                <%= f.submit "Sign In!", class: "btn btn-dark btn-block"%>
            </div>
        <% end %>	      
    </div>
   
</body>
</html>                                		
