<%= form_for @guestfind do |form| %>
    <% if visitor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>
  
        <ul>
          <% visitor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name,class:"form-control",required:"true" %>
    </div>
  
    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone ,class:"form-control",required:"true",:maxlength => 10 ,:minlength => 10%>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address,class:"form-control",required:"true"  %>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email,class:"form-control",required:"true"  %>
    </div>
  
    <% if @count == 0 %>
    <div class="field">
      <%= form.fields_for  :mettings , @guestnew.mettings do |builder| %>
      
        <%= builder.label :purpose %>
        <%= builder.text_area :purpose ,class:"form-control",required:"true"%>
        
        <br>

          <% if @user.role.id == 3 %>

          <%= builder.label :user_id ,"Employee",class:"mr-2"%> :   
          <% options = options_from_collection_for_select(User.all, 'id', 'name')%>
          <%= builder.select :user_id,  options ,class:"form-control",required:"true"%>

          <%= builder.text_field :reschedule ,class:"form-control" ,required:"true",value:Time.now.to_time.strftime('%B %e at %l:%M %p'),hidden:"true"  %>
          <%= builder.text_field :status ,class:"form-control" ,value: "0",hidden:"true" %>

          <% else %>
          
          <%= builder.text_field:user_id, value:@user.id ,hidden:"true"%>
          <%= builder.text_field :status ,class:"form-control" ,value: "4",hidden:"true" %>
          Time: <%= builder.datetime_field :reschedule ,required:"true"  %>

          <% end %>
        <% end %>
    </div>
    <div class="actions text-center">
      <%= form.submit "Add Meeting" , class:"btn btn-success" %>
    </div> 
    <% else %> 
      <br>    
        <h5> Rescheduled at: <%= @check.reschedule.to_time.strftime('%B %e at %l:%M %p') %> With <%= @check.user.name %> </h5>
      <br> 
    <% end %>
<% end %>
