<%= form_for @guestnew do |form| %>
    <% if visitor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>
  
        <ul>
          <% visitor.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name ,class:"form-control"%>
    </div>
  
    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone,class:"form-control" %>
    </div>
  
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address ,class:"form-control"%>
    </div>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email,class:"form-control" %>
    </div>
  
     <div class="field">
       <%= form.fields_for  :mettings do |builder| %>
        
         <%= builder.label :purpose %>
         <%= builder.text_area :purpose ,class:"form-control" %>

        <%= builder.text_field :status ,class:"form-control" ,value: "0",hidden:"true" %>
        <br>
        <%= builder.label :user_id ,"Employee",class:"mr-2"%> : 
        <% options = options_from_collection_for_select(User.all, 'id', 'name',class:"form-control")%>
        <%= builder.select :user_id,  options %>
       <% end %>
     </div>
  
    <div class="actions text-center">
      <%= form.submit "SEND"%>
    </div>
  <% end %>
  