<%= form_for @metting do |form| %>

    <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose ,class:"form-control" %>
    </div>

    <div class="field">
        <%= form.label :guest_id %>
        <%= form.number_field :guest_id ,class:"form-control" %>
    </div>
    <div class="field">
        <%= form.label :status %>
        <%= form.number_field :status ,class:"form-control" %>
    </div>
    <div class="field">
        <%= form.label :user_id %>
        <%= form.number_field :user_id ,class:"form-control" %>
    </div>

    <div class="actions">
            <%= form.submit class:"btn btn-dark"%>
    </div>

<% end %>